<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Lista de reservas</title>
</head>
<body>
<div th:if="${errors}">
    <p th:each="error : ${errors}">
        <strong th:text="${error.key}"></strong>
        <span th:text="${error.value}"></span>
    </p>
</div>
<div th:if="${infoMessage}">
    <p th:text="${infoMessage}"></p>
</div>
<h1>Listado de Reservas para el Viaje <span th:text="${codViaje}"></span></h1>
<table>
    <tr>
        <th scope="col">Cod. Reserva</th>
        <th scope="col">Usuario</th>
        <th scope="col">Plazas Solicitadas</th>
        <th scope="col">Fecha y Hora de salida</th>
    </tr>
    <tbody>
    <tr th:each="reserva : ${reservas}">
        <td th:text="${reserva.codigoReserva}"></td>
        <td th:text="${reserva.usuario}"></td>
        <td th:text="${reserva.plazasSolicitadas}"></td>
        <td th:text="${#temporals.format(reserva.viaje.fechaSalida, 'dd/MM/yyyy HH:mm')}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/viajes}">Volver al listado de viajes</a>
</body>
</html>
